* {
    box-sizing: border-box;
}

body {
	margin-top: 180px;
	max-width: 2000px;
}

.content {
    display: flex;
    flex-flow: row;
    text-align: center;

    margin: 10px;
}

.introduction {
    flex: 1 70%;
    font-family: sans-serif;
    border:1px #e5e5e5 solid;
    font-size: 1.4em;
    background: #ccddcc;
    border-radius: 20px;

}
p {
    width: 60%;
    margin-left: 20%;
    text-align: left;
}

.aside {
    flex: 1 30%;
}

.information {
    margin-top: 20px;
    text-align: left;
    margin-left: 15%;
}

.information ol {
    list-style: none;
}

.information ol li {
    margin: 10px 0;
}
.avatar {

}

.avatar img {
    width:70%;
    border-radius:100%;
}

.header{
	position: fixed;
    width: 100%;
    top: 0px;
    background: white;
}

.name{
	font-size: 4em;
	margin-left: 50px;
	margin-top: 10px;
}

.home-link {
	text-decoration : none;
	color : #000000;
}

.menu {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #a79b9b;
}

.menu a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: rgb(194, 187, 174);
}
