body {
	margin-top: 140px;
	max-width: 2000px;
}

.lecture {
	font-size: 1.4em;
	font-family: Helvetica;
}

.header{
	position: fixed;
    width: 100%;
    top: 0px;
    background: white;
}

.name{
	font-size: 4em;
	margin-left: 50px;
	margin-top: 10px;
}

.home-link {
	text-decoration : none;
	color : #000000;
}

.lecture {
	background-color: #FF5733;
	border-radius: 20px;
	color: white;
	padding: 15px;
	margin: 10px auto;
}

.lecture-title {
	text-align: center;
}

.concept {
	background-color: #75FF33;
	padding: 5px;
	margin: 5px;
	border-radius: 10px;
	color: black;
}

.concept-title {
	text-align: center;
	font-size: 28px;
	margin: 8px;
	font-weight: bold;
}

p {
	margin: 10px;
}
.menu {
  list-style: none;
  margin: 0;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
	border-bottom: 1px solid #a79b9b;
}

.menu a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: rgb(194, 187, 174);
}


#title {
    text-align: center;;
    color:white;
}

.TOC{
    font-size: larger;
}
